<!DOCTYPE>

<html>

  <title> {{ttl}} </title>

  <head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class = "col">

    <div class = "row">
      <h1 style = "text-align:center;"> NUMPY SCIPY </h1>
    </div>

    <div class = "row">
      <nav id="nav" class="navbar navbar-light bg-light" >
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Item 1</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
            <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
          </nav>
          <a class="nav-link" href="#item-2">Item 2</a>
          <a class="nav-link" href="#item-3">Item 3</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
            <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
          </nav>
        </nav>
      </nav>

      <div data-spy="scroll" data-target="#nav" data-offset="0" class="col-xs-8 col-md-9 col-lg-10">
        <h4 id="item-1">Item 1</h4>
        <p>Doggo ipsum shibe the neighborhood pupper woofer very jealous pupper wow such tempt corgo, smol heck what a nice floof mlem. puggo he made many woofs yapper. Shooberino woofer sub woofer maximum borkdrive, he made many woofs. Thicc porgo blop heckin good boys and girls, h*ck. you are doing me the shock doggorino sub woofer. heckin angery woofer tungg fluffer.  Wow such tempt h*ck smol borking doggo with a long snoot for pats length boy, bork.  Noodle horse boof wow very biscit super chub you are doin me a concern very taste wow blep, heckin waggy wags boof doge.</p>
        <h4 id="item-2">Item 2</h4>
        <p>Adorable doggo doing me a frighten big ol pupper heckin good boys vvv puggorino waggy wags, stop it fren boofers corgo heckin good boys and girls. Sub woofer doing me a frighten doge pats, long water shoob. Adorable doggo corgo doggo shoob fluffer stop it fren, most angery pupper I have ever seen blep heckin angery woofer long woofer, shibe waggy wags long water shoob ur givin me a spook. Very jealous pupper big ol long woofer snoot, very taste wow pupper fluffer stop it fren, yapper long doggo. Bork ur givin me a spook many pats pupperino porgo blep, shoober dat tungg tho ur givin me a spook corgo shoob shoober, long water shoob you are doin me a concern corgo heckin. I am bekom fat the neighborhood pupper extremely cuuuuuute, pupperino.
  </p>
        <h4 id="item-3">Item 3</h4>
        <p>Adorable doggo doing me a frighten big ol pupper heckin good boys vvv puggorino waggy wags, stop it fren boofers corgo heckin good boys and girls. Sub woofer doing me a frighten doge pats, long water shoob. Adorable doggo corgo doggo shoob fluffer stop it fren, most angery pupper I have ever seen blep heckin angery woofer long woofer, shibe waggy wags long water shoob ur givin me a spook. Very jealous pupper big ol long woofer snoot, very taste wow pupper fluffer stop it fren, yapper long doggo. Bork ur givin me a spook many pats pupperino porgo blep, shoober dat tungg tho ur givin me a spook corgo shoob shoober, long water shoob you are doin me a concern corgo heckin. I am bekom fat the neighborhood pupper extremely cuuuuuute, pupperino.
  </p>
        <h4 id="item-4">Item 4</h4>
        <p>Adorable doggo doing me a frighten big ol pupper heckin good boys vvv puggorino waggy wags, stop it fren boofers corgo heckin good boys and girls. Sub woofer doing me a frighten doge pats, long water shoob. Adorable doggo corgo doggo shoob fluffer stop it fren, most angery pupper I have ever seen blep heckin angery woofer long woofer, shibe waggy wags long water shoob ur givin me a spook. Very jealous pupper big ol long woofer snoot, very taste wow pupper fluffer stop it fren, yapper long doggo. Bork ur givin me a spook many pats pupperino porgo blep, shoober dat tungg tho ur givin me a spook corgo shoob shoober, long water shoob you are doin me a concern corgo heckin. I am bekom fat the neighborhood pupper extremely cuuuuuute, pupperino.
  </p>
      </div>
    </div>

  </body>

</html>
