<!DOCTYPE html>

<html>

  <title> Nobel Prizes </title>
  <body>

    <h1> Nobel Prizes </h1>


      <form name="IP" method = "GET" action="/">

        New IP: <input type = "text" value= {{IP}}> <button type = "submit" name = "IP">Submit</button>

      </form>
      <p id="e"></p>
      Search our database!!

      <form name = "year" method = "GET">

        Nobel Prizes in Year:

        <input type = "text" placeholder = "2000"> <button type = "submit"> Find </button>

      </form>

      {{results}}

    </p>

  </body>
</html>
